<H1>Chat para desafio complementario</H1>

<div>
    <input type="text" id="chatbox">
</div>

<div>
    <p id="messageLoss"></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="js/chat.js"></script>