<h1>Mis productos</h1>
<div class="contenedorCards">
    {{#each productos}}
    <div class="card">
        <figure>
            <img src={{this.thumbnails.imagen1}}>
        </figure>
        <div class="contenido">
            <h3>{{this.title}} </h3>
            <p>{{this.description}} </p>
            <p>${{this.price}} </p>
        </div>
    </div>
    {{/each}}
</div>